@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container button {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    margin-top: 20%;
    border-radius: 3px;
    background-color: #6666FF;
    border: none;
    color: #fff;
    outline: none;
}

.container button:hover {
    background-color: #333399;
    transition: 0.5s;
}